<a href="https://colab.research.google.com/github/ahmedattari/Ai-Searching-Algorithms/blob/main/KNN(ML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
file = pd.read_csv('data_banknote_authentication.csv',header = None)
df = pd.DataFrame(file, columns=[0, 1, 2,3,4])
df.rename(columns = {0:'A1',1:'B1', 2:'C1',3:'D1',4:'Classification'}, inplace = True)

In [6]:
k = 5

**Distance**

In [7]:
def computeDistance(data, query):
  distances = []
  for i in range(len(data)):
    man = abs(data.iloc[i][0] - query[0]) + abs(data.iloc[i][1] - query[1]) + abs(data.iloc[i][2] - query[2]) + abs(data.iloc[i][3] - query[3])#manhattan distance formula
    distances.append(man)
  return distances

In [8]:
query = (2.0153,	1.8479,	3.1375,	2.42843)

In [9]:
df['distance'] = computeDistance(df, query)

df = df.sort_values(by="distance", ascending=True)
df

          A1       B1       C1       D1 Classification  distance
514   2.0153   1.8479   3.1375  0.42843           Fake   2.00000
710   2.4012   1.6223   3.0312  0.71679           Fake   2.42944
456   2.0007   1.8644   2.6491  0.47369           Fake   2.47424
532   2.5227   2.2369   2.7236  0.79438           Fake   2.94435
312   1.5902   2.2948   3.2403  0.18404           Fake   3.21919
...      ...      ...      ...      ...            ...       ...
1064 -3.6961 -13.6779  17.5795 -2.61810           Real  40.72573
1369 -3.7503 -13.4586  17.5932 -2.77710           Real  40.73333
1247 -4.4775 -13.0303  17.0834 -3.03450           Real  40.77983
881  -4.4861 -13.2889  17.3087 -3.21940           Real  41.45723
820  -4.0025 -13.4979  17.6772 -3.32020           Real  41.65193

[1372 rows x 6 columns]

In [10]:
kSamples = df.iloc[:k+1]
prediction =  kSamples.pop('Classification')
prediction = prediction.to_list()
prediction = max(set(prediction), key=prediction.count)
print(f"The Class of {query} is: {prediction}")

The Class of (2.0153, 1.8479, 3.1375, 2.42843) is: Fake